<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Arguments -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="camera_name" default="zedm" />
    <xacro:arg name="camera_model" default="zedm" />
    <xacro:arg name="use_lidar" default="false" />

    <!-- Includes -->
    <xacro:include filename="robot_core.xacro"/>
    <xacro:include filename="vectornav_imu.xacro"/>
    <xacro:include filename="zed_camera.xacro"/>
    <xacro:if value="$(arg use_lidar)">
        <xacro:include filename="lidar.xacro"/>
    </xacro:if>

    <!-- Build robot model -->
    <xacro:robot_description prefix="$(arg prefix)" camera_name="$(arg camera_name)" camera_model="$(arg camera_model)"/>
    <xacro:if value="$(arg use_lidar)">
        <xacro:lidar_description prefix="$(arg prefix)"/> 
    </xacro:if>
    <xacro:vectornav_imu_description prefix="$(arg prefix)"/>
    <xacro:zed_camera_description prefix="$(arg prefix)" camera_name="$(arg camera_name)" camera_model="$(arg camera_model)"/>


</robot>
