<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Arguments -->
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="camera_name" default="zedm" />
    <xacro:arg name="camera_model" default="zedm" />
    <xacro:arg name="camera_resolution" default="HD720" />
    <xacro:arg name="use_lidar" default="false" />
    <xacro:arg name="lidar_update_rate" default="30" />

    <!-- Includes -->
    <xacro:include filename="robot_core.xacro"/>
    <xacro:include filename="lidar.xacro"/>
    <xacro:include filename="vectornav_imu.xacro"/>
    <xacro:include filename="zed_camera.xacro"/>
    <xacro:include filename="$(find arcs_cohort_gazebo_sim)/control/gazebo_diff_drive_plugin.xacro"/>

    <!-- Build robot model -->
    <xacro:robot_description prefix="$(arg prefix)" camera_name="$(arg camera_name)" camera_model="$(arg camera_model)"/>
    <xacro:if value="$(arg use_lidar)">
        <xacro:lidar_description prefix="$(arg prefix)" lidar_update_rate="$(arg lidar_update_rate)"/>
    </xacro:if>
    <xacro:vectornav_imu_description prefix="$(arg prefix)"/>
    <xacro:zed_camera_description prefix="$(arg prefix)" camera_name="$(arg camera_name)" camera_model="$(arg camera_model)" resolution="$(arg camera_resolution)"/>
    <xacro:gazebo_diff_drive_plugin_description prefix="$(arg prefix)"/>

</robot>
