<?xml version="1.0"?>

<!--

Stereolabs Zed Camera Model

Borrows from:
https://github.com/stereolabs/zed-ros2-wrapper/tree/master/zed_wrapper/urdf
https://github.com/rpanther/panther_simulation/blob/master/panther_gazebo/urdf

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <!-- Define a macro with a prefix param for the Zed M camera description -->
    <xacro:macro name="zed_camera_description" params="prefix camera_name=zedm camera_model=zedm">
        <!-- resolution=VGA -->

        <!-- Arguments for zed_wrapper/zed_camera -->
        <xacro:arg name="custom_baseline"  default="0.0" />
        <xacro:arg name="enable_gnss"   default="false" />
        <xacro:arg name="gnss_x" default="0.0" />
        <xacro:arg name="gnss_y" default="0.0" />
        <xacro:arg name="gnss_z" default="0.0" />

        <!-- Include zed_wrapper/zed_camera description -->
        <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
        <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" custom_baseline="$(arg custom_baseline)" enable_gnss="$(arg enable_gnss)">
                <origin xyz="$(arg gnss_x) $(arg gnss_y) $(arg gnss_z)" rpy="0 0 0"/>
        </xacro:zed_camera>

        <!--Camera-->
        <joint name="${prefix}${camera_name}_camera_mount_to_camera" type="fixed">
            <parent link="${prefix}${camera_name}_camera_mount_link"/>
            <child link="${camera_name}_camera_link"/>
            <origin xyz="0.037592 -0.0065 -0.02273" rpy="0 ${30*(M_PI/180)} 0" />
        </joint>

    </xacro:macro>

</robot>
