<?xml version="1.0"?>

<!--

Stereolabs Zed Camera Model

Borrows from:
https://github.com/stereolabs/zed-ros2-wrapper/tree/master/zed_wrapper/urdf
https://github.com/rpanther/panther_simulation/blob/master/panther_gazebo/urdf

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- Define a macro with a prefix param for the Zed M camera description -->
    <xacro:macro name="zed_camera_description" params="namespace prefix camera_name=zedm camera_model=zedm">

        <!-- Properties -->
        <xacro:if value="${prefix != ''}">
            <xacro:property name="prefix_" value="${prefix}_"/>
        </xacro:if>
        <xacro:if value="${prefix == ''}">
            <xacro:property name="prefix_" value=""/>
        </xacro:if>

        <xacro:property name="custom_baseline" value="0.0" />
        <xacro:property name="enable_gnss" value="false" />
        <xacro:property name="gnss_x" value="0.0" />
        <xacro:property name="gnss_y" value="0.0" />
        <xacro:property name="gnss_z" value="0.0" />

        <!-- Include zed_wrapper/zed_camera description -->
        <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
        <xacro:zed_camera name="$(arg camera_name)" model="$(arg camera_model)" custom_baseline="${custom_baseline}" enable_gnss="${enable_gnss}">
                <origin xyz="${gnss_x} ${gnss_y} ${gnss_z}" rpy="0 0 0"/>
        </xacro:zed_camera>

        <!--Camera-->
        <joint name="${prefix}${camera_name}_camera_mount_to_camera" type="fixed">
            <parent link="${prefix}${camera_name}_camera_mount_link"/>
            <child link="${camera_name}_camera_link"/>
            <origin xyz="0.037592 -0.0065 -0.02273" rpy="0 ${30*(M_PI/180)} 0" />
        </joint>

    </xacro:macro>

</robot>
