<?xml version="1.0"?>

<!--

Stereolabs Zed Camera Model

Borrows from:
https://github.com/stereolabs/zed-ros2-wrapper/tree/master/zed_wrapper/urdf
https://github.com/rpanther/panther_simulation/blob/master/panther_gazebo/urdf

-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


  <!-- Define a macro with a prefix param for the Zed M camera description -->
  <xacro:macro name="zed_camera_description" params="prefix resolution=VGA">

    <!--Camera-->
    <!-- <joint name="${prefix}zedm_camera_center_joint" type="fixed">
        <parent link="${prefix}zedmini_center_link"/>
        <child link="${prefix}zedm_camera_center"/>
        <origin xyz="0.305 0 0.08" rpy="0 0 0" />
    </joint>

    <link name="${prefix}zedm_camera_center">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find arcs_cohort_description)/meshes/zedm.stl"/>
            </geometry>
            <material name="black">
                <color rgba="0 0 0 0.9"/>
            </material>
        </visual>
    </link> -->

    <xacro:if value="${resolution == 'HD2K'}">
        <xacro:property name="resolution_width" value="2208" />
        <xacro:property name="resolution_height" value="1242" />
        <xacro:property name="update_rate" value="15" />
    </xacro:if>
    <xacro:if value="${resolution == 'HD1080'}">
        <xacro:property name="resolution_width" value="1920" />
        <xacro:property name="resolution_height" value="1080" />
        <xacro:property name="update_rate" value="30" />
    </xacro:if>
    <xacro:if value="${resolution == 'HD720'}">
        <xacro:property name="resolution_width" value="1280" />
        <xacro:property name="resolution_height" value="720" />
        <xacro:property name="update_rate" value="60" />
    </xacro:if>
    <xacro:if value="${resolution == 'VGA'}">
        <xacro:property name="resolution_width" value="672" />
        <xacro:property name="resolution_height" value="376" />
        <xacro:property name="update_rate" value="100" />
    </xacro:if>

    <!-- Left Camera -->
    <joint name="${prefix}zedm_left_camera_joint" type="fixed">
        <parent link="${prefix}zedmini_center_link"/>
        <child link="${prefix}zedm_left_camera_frame"/>
        <origin xyz="0 0.03 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}zedm_left_camera_frame" />

    <joint name="${prefix}zedm_left_camera_optical_joint" type="fixed">
        <!-- <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/> -->
        <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
        <parent link="${prefix}zedm_left_camera_frame"/>
        <child link="${prefix}zedm_left_camera_optical_frame"/>
    </joint>

    <link name="${prefix}zedm_left_camera_optical_frame"/>

    <!-- Right Camera -->
    <joint name="${prefix}zedm_right_camera_joint" type="fixed">
        <parent link="${prefix}zedmini_center_link"/>
        <child link="${prefix}zedm_right_camera_frame"/>
        <origin xyz="0 -0.03 0" rpy="0 0 0" />
    </joint>

    <link name="${prefix}zedm_right_camera_frame" />

    <joint name="${prefix}zedm_right_camera_optical_joint" type="fixed">
        <origin xyz="0 0 0" rpy="-1.57079632679 0.0 -1.57079632679"/>
        <parent link="${prefix}zedm_right_camera_frame"/>
        <child link="${prefix}zedm_right_camera_optical_frame"/>
    </joint>

    <link name="${prefix}zedm_right_camera_optical_frame"/>

    <!-- <gazebo reference="${prefix}zedm_camera_center">
        <material>Gazebo/Green</material>
    </gazebo> -->

    <gazebo reference="${prefix}zedm_left_camera_frame">

        <sensor name="${prefix}left_camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>${update_rate}</update_rate>
            <camera>
                <camera_info_topic>camera/left_camera_info</camera_info_topic>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>${resolution_width}</width>
                    <height>${resolution_height}</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <topic>camera/left_camera_image_raw</topic>
            <gz_frame_id>zedm_left_camera_optical_frame</gz_frame_id>
        </sensor>
    </gazebo>

    <gazebo reference="${prefix}zedm_right_camera_frame">

        <sensor name="${prefix}right_camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>${update_rate}</update_rate>
            <camera>
                <camera_info_topic>camera/right_camera_info</camera_info_topic>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>${resolution_width}</width>
                    <height>${resolution_height}</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <topic>camera/right_camera_image_raw</topic>
            <gz_frame_id>zedm_right_camera_optical_frame</gz_frame_id>
        </sensor>
    </gazebo>

  </xacro:macro>

</robot>
